/*
تنسيق الحاوية الرئيسية
*/
#all{
    direction: rtl;
    position: relative;
    right: 35%;
}
/*
لضبك العناصر على نفس السطر
*/
.in_line{
    display: inline
}
/*
تنسيق اجرائيات اللعبة (الزرين)
*/
#Start_Game,#Calculate_Score{
    margin: 0 10px;
    border: 1px blue solid;
}

/*
للنصوص المدخلة من المستخدم
*/
#FirstName,#Factor,#NumberOfProblem{
    text-align: center;
    background-color: aquamarine;
    color: red;
    width: 200px;
    height: 20px; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*
تنسيق لاختيار العملية 
*/
#operation,#Paragraph{
    position: relative;
    right: 130px;
}
/*
تنسيق لمربع الحاوي على الاجابة المدخلة من المستخدم
*/
input.boxresultuser{
    display: inline;
    background-color: slateblue;
    border-top-left-radius: 10px;
    width: 50px;
    height: 20px;
}
#scoreResult{
    font-weight: bolder;
}
/*
مكان تموضع العناصر الجديدة
*/
#hidden{
    min-width: 200px;
    min-height: 100px;
    margin:0 50% 0 50%;

}
